.header {
    text-align: center;
    padding: 0.8rem;
    margin: 0;
    font-family: cursive;
    margin-right: 30px;
    
    &__title {
        color: white;
        margin: 0;
        font-size: 3.8rem;

    }
}

.nav-bar-list {
    color: rgb(255, 255, 255);
    padding-top: 20px;

    li {
        display: inline;
    }

    a {
        display: inline-block;
        color: white;
        padding: 0px 2px;
        text-decoration: none;
        margin-right: 30px;
    }
    
    .ativado {
        background-color:  #ff1900;
        border-radius: 10px;
    }   
}