.footer {
    font-family: cursive;
    max-width: 270px;
    margin-top: 110px;
    margin-left: 10px;

    border-radius: 10px;
    border: 2px solid rgb(80, 49, 49);

    text-align: center;

    background: #000000;
    background: -webkit-linear-gradient(to right, #e74c3c, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e74c3c, #000000);
    color: rgb(255, 255, 255);
}

.footer__text {
    text-align: center;
}
