<div class="text-left pt-3">
    
    
    <form [formGroup]="orderForm" class="form pt-4">
        
        <h6>Informações do Cliente</h6>
        
        <div class="row">
            <div class="p-1" >
                <label for="name" class="camp__label">
                    <input formControlName="name" type="text" class="form-control form-control-sm" id="name"
                    placeholder="Nome e sobrenome" [class.is-invalid]="exibeErro('nome')">
                </label>
            </div>
            
            <div class="p-1">
                <label for="phone">
                    <input mask="(00) 00000-0000" formControlName="phone" type="tel" class="form-control form-control-sm " id="phone"
                    placeholder="Telefone com DDD" [class.is-invalid]="exibeErro('nome')">
                </label>
            </div>
        </div>
        
        <h6>Informações da entrega</h6>
        
        <div class="deliveryInformation row">
            <div class="p-1">
                <label for="street" class="camp__label">
                    <input formControlName="street" type="text" class="form-control form-control-sm" id="street"
                    placeholder="Rua"[class.is-invalid]="exibeErro('nome')">
                </label>
            </div>
            
            <div class="p-1">
                <label for="houseNumber">
                    <input formControlName="houseNumber" type="text" class="form-control form-control-sm"
                    id="houseNumber" placeholder="Nº" style="max-width: 50px;" [class.is-invalid]="exibeErro('nome')">
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="p-1">
                <label for="district" class="camp__label">
                    <input formControlName="district" type="text" class="form-control form-control-sm" id="district"
                    placeholder="Bairro" [class.is-invalid]="exibeErro('nome')">
                </label>
            </div>
            
            <div class="p-1">
                <label for="complement">
                    <input formControlName="complement" type="text" class="form-control form-control-sm" id="complement"
                    placeholder="Complemento" [class.is-invalid]="exibeErro('nome')">
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="p-1">
                <label for="referencePoint" class="camp__label">
                    <textarea formControlName="referencePoint" cols="52" class="form-control form-control-sm" id="referencePoint" placeholder="Ponto de referência" [class.is-invalid]="exibeErro('nome')"></textarea>
                </label>
            </div>
        </div>
        
        <h6>Informações do pedido</h6>
        
        <h6>Informações de pagamento</h6>
        
        <div class="row">
            <div class="p-1">
                <label for="payment" class="camp__label"></label>
                <input type="radio" name="payment" id="money"><strong>Dinheiro</strong>
                <input type="radio" name="payment" id="card"><strong>Cartão</strong>
                
            </div> 
        </div>
        
        
        <button class="btn btn-dark btn-sm" (click)="onSubmit()">Concluir</button>

    </form>
    <div class="text-center">
            <div class="footer">
                <h6>Pizzaup™ Campina Grande-PB</h6>
                <img src='./assets/phone.svg' alt="svg de telefone">
                ou 
                <img class="logo-whatsapp" src='./assets/whatsapp.svg' alt="svg logo whatsapp">
                <h6>(83) 99850-6482 </h6>
            </div>
    </div>
</div>